.personal-info-page{
  background-color: #f8f8f8;
  font-size: 1.6rem;
  padding-block: 30px;
  .personal-info-page__container{
    .personal-info-page__main{
      .personal-info-page__body{
        padding-left: 30px;
        background-color: white;
        background-clip: content-box;
        form{
          padding: 30px;
        }
      }
    }
  }
}