.custom-slider .slick-list .slick-track div div img {
  height: 100px;
  object-fit: cover;
}
.no-cloned .slick-list .slick-track .slick-cloned {
  display: none;
}
.custom-slider .slick-list .slick-track {
  margin: 0;
}
.slick-vertical {
  height: 384px;
  padding-top: 26px;
}
.slick-vertical-slider .slick-arrow {
  position: absolute;
  right: 1px;
  width: calc(100% - 10px);
  height: 24px;
  left: unset;
}
.slick-vertical-slider .slick-arrow::before {
  content: none;
}
.slick-vertical-slider .slick-next {
  top: calc(100% - 12px);
}
.slick-vertical-slider .slick-prev {
  top: 12px;
}
.slick-vertical-slider {
  position: static;
}
.slick-vertical-slider .slick-arrow svg {
  color: #fff;
}
.product-quantity-wrapper {
  width: 92px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #000;
}
.product-quantity-wrapper button {
  width: 28px;
  height: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
.product-quantity-wrapper button:first-child {
  border-right: 1px solid #000;
}
.product-quantity-wrapper button:last-child {
  border-left: 1px solid #000;
}
.product-quantity-wrapper input {
  width: 36px;
  border: none;
  outline: none;
  text-align: center;
}
.slick-arrow {
  z-index: 1;
  width: 28px;
  height: 28px;
  background-color: #1976d2 !important;
}
.slick-arrow::before {
  opacity: 1;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.product-rate {
  display: flex;
  align-items: center;
}
