.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px 0;
  .category {
     padding: 8px 24px;
     font-size: 1.6rem;
     background-color: unset;
     margin:0 10px;
     border: 1px solid lightgray;
     border-radius: 5px;
    &:hover,
    &.active {
      border: 1px solid var(--main-color);
      background-color: var(--main-color);
      color:white;
    }
  }
}
