.custom-slider .slick-list .slick-track div div img {
  height: 100px;
  object-fit: cover;
}
.no-cloned .slick-list .slick-track .slick-cloned {
  display: none;
}
.custom-slider .slick-list .slick-track {
  margin: 0;
}
.slick-vertical-slider {
  height: 520px;
  padding-top: 26px;
}
.slick-vertical-slider .slick-arrow {
  position: absolute;
  right: 1px;
  width: calc(100% - 10px);
  height: 24px;
  left: unset;
}
.slick-vertical-slider .slick-arrow::before {
  content: none;
}
.slick-vertical-slider .slick-next {
  top: calc(100% - 12px);
}
.slick-vertical-slider .slick-prev {
  top: 12px;
}
.slick-vertical-slider {
  position: static;
}
.slick-vertical-slider .slick-arrow svg {
  color: #fff;
}
.product-quantity-wrapper {
  width: 72px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #000;
}
.product-quantity-btn-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
  height: 32px;
}
.product-quantity-btn-wrapper button {
  width: 24px;
  height: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
.product-quantity-wrapper button:first-child {
  border-bottom: 0.5px solid #000;
}
.product-quantity-wrapper button:last-child {
  border-top: 0.5px solid #000;
}
.product-quantity-wrapper input {
  width: 48px;
  border: none;
  outline: none;
  text-align: center;
}
.slick-arrow {
  z-index: 1;
  width: 28px;
  height: 28px;
  background-color: #1976d2 !important;
}
.slick-arrow::before {
  opacity: 1;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.product-rate {
  display: flex;
  align-items: center;
}
.product-name {
  position: relative;
  padding-right: 40px;
}
.add-to-favorite {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.id-loved {
  color: red;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid lightgray;
  padding: 8px 0;
}
.cell-bold {
  font-weight: bold;
}
