@import "../../App.scss";
.toast-message__container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.4rem;
  min-width: 250px;
  border-radius: 5px;
  @include keyframes(toastMessage) {
    from {
      transform: translateX(calc(150%));
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @include keyframes(fadeOut) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  animation: toastMessage ease 0.1s, fadeOut ease 5s 0.1s;
  &.success {
    .toast-message {
      .toast-message__header {
        background-color: rgb(59, 231, 100);
      }
      .toast-message__body {
        background-color: rgb(139, 250, 165);
      }
    }
  }
  &.error {
    .toast-message {
      .toast-message__header {
        background-color: rgb(255, 55, 71);
      }
      .toast-message__body {
        background-color: rgb(228, 138, 126);
      }
    }
  }
  .toast-message {
    width: 100%;
    .toast-message__header {
      background-color: rgb(243, 243, 243);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1px 0 1px 5px;
      .toast-message__title {
        font-weight: bold;
      }
      .toast-message__btn-close {
        svg {
          font-size: 1.6rem;
        }
      }
    }
    .toast-message__body {
      padding: 8px 0 8px 5px;
      font-size: 1.2rem;
      background-color: rgb(231, 231, 231);
    }
  }
}
