.wishlist-page {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  padding-block: 30px;
  .wishlist-page__container {
    .wishlist-page__main {
      .wishlist-page__body {
        padding-left: 30px;
        background-color: white;
        background-clip: content-box;
        .wishlist-page__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 30px;
        }
        hr {
          margin: 0;
        }
        .wishlist-page__list {
          padding: 16px 30px;
          .wishlist-page__item {
            display: flex;
            .wishlist-page__item-img {
              display: block;
              img {
                width: 150px;
              }
            }
            .wishlist-page__item-main {
              display: flex;
              flex: 1;
              margin-inline: 20px;
              .wishlist-page__item-main-info {
                .wishlist-page__item-main-info {
                  margin-bottom: 10px;
                }
                .wishlist-page__item-main-info-price {
                  display: flex;
                  .wishlist-page__item-main-info-price-new {
                    color: var(--main-color);
                    margin-right: 10px;
                  }
                  .wishlist-page__item-main-info-price-old {
                    color: gray;
                    text-decoration: line-through;
                  }
                }
                .wishlist-page__item-main-info-colors {
                  display: flex;
                  margin: 10px 0;
                  .wishlist-page__item-main-info-color {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-right: 5px;
                    border: 2px solid transparent;
                    img {
                      width: 40px;
                      height: 40px;
                      object-fit: cover;
                      object-position: center;
                    }
                    &.active {
                      border: 2px solid var(--main-color);
                    }
                  }
                }
                .wishlist-page__item-main-info-sizes {
                  display: flex;
                  font-size: 1.2rem;
                  .wishlist-page__item-main-info-size {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid gray;
                    margin-right: 6px;
                    cursor: pointer;
                    &.active {
                      border-color: var(--main-color);
                      color: var(--main-color);
                      position: relative;
                      &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 12px;
                        height: 12px;
                        color: white;
                        background-image: url(https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/tick.png?1647051357940);
                        background-size: contain;
                      }
                    }
                  }
                }
              }
            }
            .wishlist-page__item-main-actions {
              button {
                font-size: 1.4rem;
                border: none;
                border-radius: 5px;
                background-color: var(--main-color);
                padding: 8px 16px;
                color: white;
                &:hover {
                  opacity: 0.7;
                }
                &:first-child {
                  background-color: #feeeea;
                  color: var(--main-color);
                  margin-right: 10px;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
