:root {
  --main-color: #1976d2;
  --success-color: #43a047;
  --warning-color: #ffcf33;
  --main-color-light: #85c0ff;
  --star-color: #f4d058;
}

.no-result {
  padding: 10px 0 10px 1px;
  background-color: #fa7570;
}

@keyframes sprintLeftRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.three-dot {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.three-dot-1 {
  -webkit-line-clamp: 1;
}
.three-dot-2 {
  -webkit-line-clamp: 2;
}
.three-dot-3 {
  -webkit-line-clamp: 3;
}
