@import "~bootstrap/scss/bootstrap";
:root {
  --main-color: #fcaf17;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
$mobile: 768px;
$tablet: 1240px;
button {
  cursor: pointer;
}
header {
  position: relative;
}
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    @content;
  }
}
.form-title {
  color: var(--main-color);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  padding: 5px 0;
  .form-label {
    display: block;
    font-size: 1.6rem;
    margin-left: 1px;
  }
  .form-control {
    font-size: 1.6rem;
    padding: 5px;
    outline: none;
    width: 100%;
    border: 2px solid gray;
    &:focus {
      border: 2px solid var(--main-color);
      box-shadow: unset;
    }
  }

  .form-error {
    color: red;
    font-size: 1.2rem;
  }
}
.form-submit {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  display: block;
  min-width: 120px;
  margin: 10px auto 0 auto;
  &:hover {
    opacity: 0.8;
  }
  &.full-width {
    width: 100%;
  }
}
.stars {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  .star {
    color: var(--main-color);
    margin-right: 1px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(135, 135, 135, 0.551);
}
